{% extends "layout.njk" %}

{% block content %}
<div class="card">
    <section
        class="avatar"
        style="background: url({{ student.avatar_url }}) no-repeat center center / cover"></section>
    <section class="details">
        <h3>Detalhes</h3>

        <div class="item">
            <div>Nome Completo</div>
            <div>{{ student.name }}</div>
        </div>

        <div class="item">
            <div>E-mail</div>
            <div>{{ student.email }}</div>
        </div>

        <div class="item">
            <div>Aniversário</div>
            <div>{{ student.birth }}</div>
        </div>

        <div class="item">
            <div>Ano Escolar</div>
            <div>{{ student.academic_year }}</div>
        </div>

        <div class="item">
            <div>Carga Horária Semanal</div>
            <div>{{ student.workload }} horas</div>
        </div>

        <div class="item">
            <div>Aluno de</div>
            <div>{{ student.teacher_name }}</div>
        </div>

        <div class="buttons">
            <a href="/students/{{ student.id }}/edit" class="button">Editar</a>

            <form id="delete_button" action="/students?_method=DELETE" method="POST">
                <input type="hidden" name="id" value="{{ student.id }}">
                <button type="submit">Deletar</button>
            </form>

            {% include 'confirm.njk' %}
        </div>

    </section>
</form>
{% endblock content %}