<div class="item">
    <div>Avatar URL</div>
    <div>
        <input type="url" name="avatar_url" placeholder="http://"
        value="{{ teacher.avatar_url }}">
    </div>
</div>

<div class="item">
    <div>Nome Completo</div>
    <div>
        <input type="text" name="name" placeholder="Digite aqui seu nome"
        value="{{ teacher.name }}">
    </div>
</div>

<div class="item">
    <div>Data de Nascimento</div>
    <div>
        <input type="date" name="birth"
        value="{{ teacher.birth }}">
    </div>
</div>

<div class="item">
    <div>Grau de Escolaridade</div>
    <select name="scholarity">
        <option value="medio" {% if teacher.scholarity == "medio" %} selected {% endif %}>Ensino Médio Completo</option>
        <option value="superior" {% if teacher.scholarity == "superior" %} selected {% endif %}>Ensino Superior Completo</option>
        <option value="mestrado" {% if teacher.scholarity == "mestrado" %} selected {% endif %}>Mestrado</option>
        <option value="doutorado" {% if teacher.scholarity == "doutorado" %} selected {% endif %}>Doutorado</option>
    </select>
</div>

<div class="item">
    <div>Tipo de Aula</div>
    <div>
        <span><input type="radio" name="type" value="P"
        {% if teacher.type == "P" %} checked {% endif %}>Presencial</span>

        <span><input type="radio" name="type" value="D"
        {% if teacher.type == "D" %} checked {% endif %}>À distância</span>
    </div>
</div>

<div class="item">
    <div>Área de Atuação</div>
    <div>
        <input type="text" name="areas" placeholder="Separe por vírgula"
        value = "{{ teacher.areas}}">
    </div>
</div>

<button type="submit">Salvar</button>