{% extends "layout.njk" %}

{% block head %}
<title>Erro 404</title>
{% endblock %}

{% block content %}

<div id="nf">
    <img src="https://image.flaticon.com/icons/png/512/78/78924.png">
    <h1>Erro 404</h1>
    <h2>Não foi possível encontrar endereço</h2>
</div>

{% endblock %}